:root {
  line-height: 1.5;
}

body {
  margin: 0;
}

@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #f9618a;
  --color-secondary: #ff6f00;
}
